/* Comunes */
html, body { /* Para corregir el desbordamiento que causo la libreria AOS.js */
 overflow-x: hidden
}

a {
	text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

.transition{
  -webkit-transition: all ease-in-out .3s; /* Safari */
  transition: all ease-in-out .3s;
}

.lato {
	font-family: 'Lato', sans-serif;
}

.pt {
	font-family: 'PT Sans', sans-serif;
}

.btn_destacado {
  animation: animate_btn 2s infinite;
}

@keyframes animate_btn {
  0% {
    background-color: var(--primary-color);
    border: solid 1px var(--primary-color);
    color: white;
  }

  50% {
    background-color: var(--text-color);
    border: solid 1px var(--text-color);
    color: var(--primary-color);
  }

  100% {
    background-color: var(--primary-color);
    border: solid 1px var(--primary-color);
    color: white;
  }
}
/* Comunes end */

/* Variables */
:root {
  --primary-color: rgba(0,43,100,1);
  --text-nav: #566d8f;
  --text-color: #9a9a99;
  --back-color-light: #f3f3f3;
}
/* Variables end */

/* Body */
body.margin {
	margin-top: 80px;
}
/* Body end */

/* Buttones */
button,
.btn-primary {
  color: var(--primary-color);
  background-color: white;
  font-weight: 300;
  border-color: var(--primary-color);
  padding: 5px 30px;
}

.btn-check:focus + .btn-primary, .btn-primary:focus,
.btn-check:active + .btn-primary, .btn-check:checked + .btn-primary, 
.btn-primary.active, .btn-primary:active, .show > .btn-primary.dropdown-toggle,
.btn-check:active + .btn-primary:focus, .btn-check:checked + .btn-primary:focus, 
.btn-primary.active:focus, .btn-primary:active:focus, .show > 
.btn-primary.dropdown-toggle:focus {
  color: var(--primary-color);
  background-color: white;
  border-color: var(--primary-color);
  box-shadow: none;
}

.btn-primary:hover {
  background: var(--primary-color);
  color: white;
}
/* Buttones end */