.distribuidores .tabla {
	margin-bottom: 60px;
}

.distribuidores .tabla .col-md-12 {
	display: flex;
	flex-direction: column;
	border-bottom: solid 1px grey;
	padding-top: 30px;
	padding-bottom: 30px;
}

.distribuidores .tabla .col-md-12 .content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.distribuidores .tabla .col-md-12 .content .banderas {
	margin-right: 30px;
}

.distribuidores .tabla .col-md-12 .info {
	text-align: center;
}

.distribuidores .tabla .col-md-12 .info p {
	margin: 0;
	color: black;
}

.distribuidores .tabla .col-md-12 .info span {
	font-weight: 700;
}

/* MEDIA QUERIES */
@media (min-width: 576px) {
	
	.distribuidores .texto {
		font-size: 1.25rem;
	}

}

@media (min-width: 768px) {

	.distribuidores .tabla .col-md-12 {
		flex-direction: row;
		justify-content: space-between;
	}

	.distribuidores .tabla .col-md-12 .info {
		width: 50%;
		text-align: left;
	}

}

@media (min-width: 992px) {
	
}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}

