/* Generales */
.listado p {
	color: #3c3c3b;
	font-weight: 300;
}

.listado .icono_pdf img {
	float: right;
}

.listado .icono_pdf_tubos {
	margin-bottom: 60px;
}

.listado .icono_pdf img:hover {
	opacity: 0.8;
}

.listado .btn-outline-primary {
	color: var(--primary-color);
	font-weight: 300;
	border-color: var(--primary-color);
	padding: 5px 30px;
}

.listado .btn-outline-primary:hover {
	background: var(--primary-color);
	color: white;
	border-color: none;
}

.listado .lineas .row {
	border-bottom: solid 1px var(--primary-color);
	padding-bottom: 30px;
	margin-bottom: 30px;
}
/* Generales end */

/* Header */
.listado .header  {
	background: #002B90;
	background: -webkit-linear-gradient(right, #002B90, #002C65);
	background: -moz-linear-gradient(right, #002B90, #002C65);
	background: linear-gradient(to left, #002B90, #002C65);
	min-height: 295px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: -80px;
	margin-bottom: 30px;
}

.listado .header .header_productos  {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.listado .header .header_productos img  {
	margin-top: 75px;
}

.listado .header h1  {
	margin-top: 15px;
	color: white;
	font-size: 2rem;
	font-weight: 700;
	border-left: solid 5px #0083bd;
	padding-left: 10px;
}

.listado .header .flecha {
	margin: 15px 0;
}
/* Header end */

/* Header Listex */
.listado .header_listex  {
	background: rgb(243,124,32);
	background: linear-gradient(-90deg, rgba(243,124,32,1) 0%, rgba(182,85,31,1) 100%);
}
/* Header Listex end */

/* Header Listex */
.listado .header_juntas  {
	background: rgb(187,187,187);
	background: linear-gradient(90deg, rgba(187,187,187,1) 27%, rgba(128,128,128,1) 100%);
}

.listado .header_listex h1  {
	border-left: solid 5px white;
}
/* Header Listex end */

/* Listado Listex */
.logo_listex {
	margin-top: 30px;
	margin-bottom: 30px;
}
/* Listado Listex end */

/* Faja Ecológica Listex */
.listado .faja_ecologica  {
	background-color: #1e964c;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 60px;
}

.listado .faja_ecologica .col-md-6  {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.listado .faja_ecologica .col-md-6 div {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 15px;
}

.listado .faja_ecologica .col-md-6 div img {
	max-width: 28%;
	margin-right: 15px;
}

.listado .faja_ecologica .col-md-6 div h3 {
	color: white;
	font-size: 2rem;
	font-weight: 700;
}

.listado .faja_ecologica .col-md-6 p {
	color: white;
	text-align: center;
}
/* Faja Ecológica Listex end */

/* Otros Productos Iluminacion */
.otros_productos_iluminacion {
	background: #4d9ad2;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	margin-bottom: 30px;
}

.otros_productos_iluminacion .col-md-6 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.otros_productos_iluminacion h5 {
	font-size: 1.5rem;
	color: white;
	margin-bottom: 10px;
}

.otros_productos_iluminacion p {
	color: white;
	margin-bottom: 30px;
}

.otros_productos_iluminacion a {
	background: transparent;
	border-color: white;
	color: white;
}

.otros_productos_iluminacion a:hover {
	border-color: transparent;
}
/* Otros Productos Iluminacion end */

/* Listado */
.listado .productos_listado .col-md-4,
.listado .productos_listado .col-md-6 {
	position: relative;
	margin-bottom: 60px!important;
}

.listado .productos_listado .col-md-4 div,
.listado .productos_listado .col-md-6 div {
	padding: 15px;
	background: #ececec;
	text-align: center;
	height: 118px;
	max-height: 118px;
	min-height: 118px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.listado .productos_listado .col-md-4 div h2,
.listado .productos_listado .col-md-6 div h2 {
	font-size: 1.2rem;
	margin-bottom: 15px;
}
.listado .productos_listado .col-md-4 div a,
.listado .productos_listado .col-md-6 div a {
	font-size: 0.75rem;
	color: var(--primary-color);
	font-weight: 300;
	border-color: var(--primary-color);
	padding: 3px 30px;
	background: transparent;
}
.listado .productos_listado .col-md-4 div a:hover,
.listado .productos_listado .col-md-6 div a:hover {
	color: white;
	background: var(--primary-color);
}
/* Listado end*/

/* Producto no encontrado  */
.listado .no_encontras_producto {
	font-size: 0.75rem!important;
}
/* Producto no encontrado end  */

/* Necesitas Presupuesto */
.necesitas_presupuesto {
	margin-bottom: 60px;
}

.necesitas_presupuesto .col-md-6 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.necesitas_presupuesto .col-md-6:last-child {
	margin-bottom: 0;
}

.necesitas_presupuesto .dudas,
.necesitas_presupuesto .presupuesto {
	line-height: 1.1;
	color: var(--primary-color);
	position: relative;
	display: flex;
	align-items: center;
	padding-left: 15px;
	width: 200px;
	max-width: 200px;
	margin: 0;
}

.necesitas_presupuesto .dudas::before {
	content: '';
	position: absolute;
	left: 0;
	top: 10px;
	width: 8px;
	height: 8px;
	background-color: var(--primary-color);
}

.necesitas_presupuesto .dudas {
	margin-bottom: 5px;
}

.necesitas_presupuesto .presupuesto {
	padding: 0;
	font-size: 2rem;
	font-weight: 700;
	width: 200px;
	max-width: 200px;
}
/* Necesitas Presupuesto end */

/* Galeria */
.listado .galeria {
	margin-bottom: -6px;
}
/* Galeria end*/

/* Newsletter */
.listado .newsletter {
	margin-bottom: 0;
}
/* Newsletter end*/

/* Iconos */
.listado .iconos {
	background: none;
}
.listado .iconos h4 {
	color: var(--primary-color);
}
/* Iconos end*/


/* MEDIA QUERIES */
@media (min-width: 576px) {
	/* Header */
	.listado .header .header_productos  {
		flex-direction: row;
	}
	.listado .header .header_productos img  {
		max-width: 50%;
	}
	.listado .header .header_productos h1  {
		margin-top: 80px;
	}
	/* Header end */

	/* Listado */
	.listado .productos_listado .col-md-4,
	.listado .productos_listado .col-md-6 {
		margin: 0!important;
		margin-bottom: 50px!important;
	}
	.listado .productos_listado .col-md-4 div,
	.listado .productos_listado .col-md-6 div {
		height: 180px;
		max-height: 180px;
		min-height: 180px;
	}
	.listado .productos_listado .col-md-4 img,
	.listado .productos_listado .col-md-6 img {
		position: absolute;
		top: 0;
		left: 0;
	}
	.listado .productos_listado .col-md-4 .background {
		margin-top: 80px;
		padding-top: 70px;
	}
	.listado .productos_listado .col-md-6 .background {
		margin-top: 120px;
		padding-top: 0;
	}
	.listado .productos_listado .col-md-4 div h2,
	.listado .productos_listado .col-md-6 div h2 {
		font-size: 1.25rem;
	}
	.listado .productos_listado .col-md-4 div a {
		font-size: 1rem;
	}
	.listado .productos_listado .col-md-6 div a {
		font-size: 1rem;
		display: inline-block;
		margin-bottom: -65px;
	}
	/* Listado end*/

	/* Newsletter */
	.listado .newsletter {
		padding: 30px;
	}
	/* Newsletter end */

	/* Iconos */
	.listado .iconos {
		margin-top: 0;
	}
	/* Iconos end */
}

@media (min-width: 768px) {

	/* Listado */
	.listado .productos_listado .col-md-4 .background,
	.listado .productos_listado .col-md-6 .background {
		margin-top: 63px;
	}
	.listado .productos_listado .col-md-6 div a {
		margin-bottom: -55px;
	}
	/* Listado end*/

	/* Texto */
	.listado .description {
		margin-bottom: 60px;
	}
	/* Texto end*/

	/* Necesitas Presupuesto */
	.necesitas_presupuesto .col-md-6 {
		align-items: flex-end;
		padding-right: 20px;
	}

	.necesitas_presupuesto .col-md-6:last-child {
		align-items: flex-start;
		padding-left: 20px;
	}
	/* Necesitas Presupuesto end */

	/* Otros Productos Iluminacion */
	.otros_productos_iluminacion {
		margin-bottom: 60px;
	}

	.otros_productos_iluminacion h5 {
		font-size: 1.75rem;
	}

	.otros_productos_iluminacion p {
		margin-bottom: 40px;
	}
	/* Otros Productos Iluminacion end */

}

@media (min-width: 992px) {
		/* Header */
	.listado .header .header_productos img  {
		max-width: 100%;
	}
	.listado .header .header_productos H1  {
		font-size: 2.5rem;
	}
	/* Header end */

	/* Texto */
	.listado .description {
		margin-top: 60px;
	}
	/* Texto end*/

	/* Listado */
	.listado .productos_listado .col-md-4 .background,
	.listado .productos_listado .col-md-6 .background {
		margin-top: 65px;
		padding-top: 85px;
		padding-bottom: 30px;
	}
	.listado .productos_listado .col-md-4 div,
	.listado .productos_listado .col-md-6 div {
		height: 225px;
		max-height: 225px;
		min-height: 225px;
	}
	.listado .productos_listado .col-md-4 div h2,
	.listado .productos_listado .col-md-6 div h2 {
		font-size: 1.25rem;
		margin-bottom: 30px;
	}
	.listado .productos_listado .col-md-4 div a{
		font-size: 1rem;
	}
	.listado .productos_listado .col-md-6 div a {
		font-size: 1rem;
		margin-bottom: -35px;
	}
	/* Listado end */

	/* Producto no encontrado  */
	.listado .no_encontras_producto {
		font-size: 1rem!important;
	}
	/* Producto no encontrado end  */

	/* Faja Ecológica Listex */
	.listado .faja_ecologica .col-md-6 div img {
		max-width: 35%;
	}
	/* Faja Ecológica Listex end */

	/* Newsletter */
	.listado .newsletter {
		padding: 60px 0;
	}
	/* Newsletter end*/

	/* Iconos */
	.listado .iconos {
		padding: 60px 0;
	}
	/* Iconos end*/

}

@media (min-width: 1200px) {
	/* Listado */
	.listado .productos_listado .col-md-4 .background,
	.listado .productos_listado .col-md-6 .background {
		margin-top: 80px;
		padding-top: 90px;
	}
	.listado .productos_listado .col-md-4 div h2,
	.listado .productos_listado .col-md-6 div h2 {
		font-size: 1.5rem;
		margin-bottom: 30px;
	}
	.listado .productos_listado .col-md-6 .background {
		margin-top: 140px;
		padding-top: 40px;
	}
	.listado .productos_listado .col-md-6 div {
		height: 200px;
		max-height: 200px;
		min-height: 200px;
	}
	.listado .productos_listado .col-md-6 div a {
		font-size: 1rem;
		margin-bottom: -35px;
	}
	/* Listado end*/

	/* Otros Productos Iluminacion */
	.otros_productos_iluminacion {
		padding-top: 45px;
		padding-bottom: 45px;
	}

	/* Otros Productos Iluminacion end */

}

@media (min-width: 1400px) {
	/* Listado */
	.listado .productos_listado .col-md-4 .background,
	.listado .productos_listado .col-md-6 .background {
		margin-top: 90px;
		padding-top: 100px;
	}

	.listado .productos_listado .col-md-6 .background {
		margin-top: 195px;
		padding-top: 40px;
	}
	.listado .productos_listado .col-md-6 div {
		height: 200px;
		max-height: 200px;
		min-height: 200px;
	}
	.listado .productos_listado .col-md-6 div a {
		font-size: 1rem;
		margin-bottom: -35px;
	}
	/* Listado end*/

	/* Necesitas Presupuesto */
	.necesitas_presupuesto {
		margin-bottom: 60px;
		margin-top: 60px;
	}

	.necesitas_presupuesto .dudas,
	.necesitas_presupuesto .presupuesto {
		width:300px;
		max-width:300px;
	}

	.necesitas_presupuesto .presupuesto {
		font-size: 2.75rem;
	}
	/* Necesitas Presupuesto end */

	/* Newsletter */
	.listado .newsletter {
		padding: 70px 0;
	}
	/* Newsletter end*/

	/* Iconos */
	.listado .iconos {
		padding: 70px 0;
	}
	/* Iconos end*/

}

