RewriteEngine On
RewriteBase /landings/tubos-pvc/index.html
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /landings/tubos-pvc/index.html [L]