.content {
  background-color: var(--primary-color);
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  margin-bottom: 60px;
  padding: 30px;
  text-align: center;
  color: white;
  text-wrap: pretty;
}

.content img {
  max-width: 75%;
  margin-bottom: 30px;
}

.content h3 {
  font-weight: 700;
  margin-bottom: 1rem;
}

.content ul {
  margin-bottom: 0;
}

/* MEDIA QUERIES */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .content_encastres {
    margin-bottom: 60px;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 95%;
    height: 178px;
    margin-left: 5%;
    margin-top: 100px;
    padding: 1rem 1rem 1rem 0;
  }

  .content img {
    max-width: 35%;
    margin-bottom: 0;
    position: absolute;
    left: -5%;
    -webkit-filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.35));
    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.35));
  }

  .content h3 {
    margin-bottom: 5px;
    font-size: 1.25rem;
  }

  .content p {
    font-size: 0.9rem;
  }

  .content ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content ul li {
    font-weight: 300;
    font-size: 0.85rem;
  }

  .content_data {
    max-width: 70%;
    margin-left: 30%;
  }
}

@media (min-width: 992px) {
  .content {
    height: 230px;
  }

  .content_data {
    max-width: 60%;
  }

  .content h3 {
    margin-bottom: 1rem;
    font-size: 1.75rem;
  }

  .content p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .content ul li {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .content {
    height: 250px;
  }

  .content_data {
    max-width: 75%;
    margin-left: 25%;
  }

  .content h3 {
    margin-bottom: 1.5rem;
    font-size: 1.75rem;
  }

  .content p {
    max-width: 76%;
    font-size: 1.25rem;
    margin-left: 12%;
  }

  .content ul li {
    font-size: 1.15rem;
    margin-right: 12px;
  }

  .content ul li:last-child {
    margin-right: 0;
  }
}

@media (min-width: 1400px) {
  .content_data {
    max-width: 80%;
    margin-left: 20%;
  }

  .content h3 {
    font-size: 2.25rem;
  }

  .content ul li {
    margin-right: 25px;
  }
}

@media (min-width: 1600px) {
}
