.content_caracteristicas {
  margin-bottom: 60px;
}

.content_icons {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

/* MEDIA QUERIES */
@media (min-width: 576px) {
  .content_icons {
    margin-top: 60px !important;
    margin-bottom: 60px !important;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}

@media (min-width: 1600px) {
}
