.footer {
  background: var(--primary-color);
  color: white;
  font-weight: 300;
  font-size: 0.85rem;
  padding: 40px 0 0 0;
  text-align: center;
}

.data article {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.data article span {
  cursor: pointer;
}

.icon_mail {
  max-width: 7% !important;
  margin-right: 10px;
  cursor: pointer;
}

.icon_mail:hover,
.data article span:hover {
  opacity: 0.6;
}

.first_row {
  border-bottom: solid 1px white;
}

.libre {
  padding-top: 5px;
  text-align: right;
  font-size: 0.65rem;
}

/* MEDIA QUERIES */
@media (min-width: 576px) {
  .icon_mail {
    max-width: 5% !important;
  }
}

@media (min-width: 768px) {
  .icon_mail {
    max-width: 4% !important;
  }
}

@media (min-width: 992px) {
  .icon_mail {
    max-width: 25px !important;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}

@media (min-width: 1600px) {
}
